/* 
    Document   : bddprospection.maintheme.css
    Created on : 18 mars 2013, 18:54:09
    Author     : Greg Bakos <greg@londonfreelancers.co.uk>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

